@model int?
@{
    ViewBag.Title = "Search Ideas";
}

<h2>Search Ideas</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p>
                    @Html.ActionLink("See All", "../Search/Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            @Html.Action("GetAll", "Categories")
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model == null)
                {
                    @Html.Action("GetIdeasByCategory", "Ideas")
                }
                else
                {
                    @Html.Action("GetIdeasByCategory", "Ideas", new { categoryId = Model })
                }
            </div>
        </div>
    </div>
</div>